/*Colours used:
Primary - White -#FFFFFF
Secondary - Black -#050505

Typography used:
Heading 1 - WorkSans - SemiBold - 40pt
Heading 2 - WorkSans - Medium - 30pt
Heading 3 - OpenSans - Regular - 18pt
Body Copy - OpenSans - Light - 14pt
Button Text - OpenSans - Regular - 16pt
Nav Bar Neautral - WorkSans - Light - 20pt
Nav Bar Active - WorkSans - Light - Underlined - 20pt
*/
body {
    background-color: #ffffff;
}

#project-intro h1,
#project-intro h3,
#project-intro p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#project-info {
    text-align: center;
    background-color: #050505;
    padding-bottom: 20px;
}

#project-info h3 {
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 10px;
}

.project-section {
    border-radius: 10px;
    border: 1px solid #050505;
    background-color: #ffffff;
    margin: 20px;
    text-align: left;
}

.project-section:last-child {
    margin-bottom: 0px;
}

.project-section h4,
.project-section p {
    margin: 14px;
}